---
layout: default
---
<style>
.tag{display:inline-block;border-radius:3px;font-size:13px;font-weight:bold;padding:2px 5px 3px;border-radius:2px;background:#d6d9e0;color:#606570}
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      <div style="border-width: 1px; border-style: solid; box-shadow: 4px 4px 0px #aaa; margin-bottom: 10%; padding: 2%; padding-bottom: 5%; border-radius: 0.5em; background-color:#e8e8ee">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div style="margin-left: 2%;">
          <div style="margin-top: 2%; margin-bottom: 2%">{{ post.description }}</div>
          
          <div style="float: left">
          {%- for tag in post.tags -%}
            <a class="tag" href="">#{{ tag }}</a>
          {%- endfor -%}
          </div>

          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <div style="font-size: 80%; float: right"><em>📅 {{ post.date | date: date_format }}</em></div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}

</div>

