---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

    <div>
      {%- for tag in page.tags -%}
        <a class="tag" href="">#{{ tag | remove: "," }}</a>&nbsp;
      {%- endfor -%}
    </div>
    
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <img src="{{ page.cover_image }}"/>

  <br/>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <br/>

  <h2>Leave a comment!</h2>

  <form method="POST" action="{{ site.staticman_url }}">
    <input name="options[redirect]" type="hidden" value="{{ site.redirect_url | append: page.url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <p><textarea name="fields[message]" cols="62" rows="4" placeholder="your message"></textarea></p>
    <p>
      <input name="fields[name]" type="text" placeholder="name">
      <input name="fields[email]" type="email" placeholder="email">
      <button type="submit">Send!</button>
    </p>
  </form>

  {% assign comments = site.data.comments[page.slug] %}

  {%- if comments.size > 0 -%}

  <h3 style="border-bottom:#373737;border-bottom-style:solid;border-bottom-width:2px">{{ comments | size }} comment(s)</h3>

  {% for comment in comments %}
    <div style="border-bottom:#373737;border-bottom-style:solid;border-bottom-width:1px">
      <p><strong>{{ comment[1].name }}</strong> on {{ comment[1].date | date: "%-d %B %Y" }}</p>
      <p>{{ comment[1].message }}</p>
    </div>
  {% endfor %}

  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

